#include "winres.h"

#pragma code_page(65001)

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 1,0,0,0
  PRODUCTVERSION 1,0,0,0
  FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS 0x40004L
  FILETYPE 0x2L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040004b0"
    BEGIN
      VALUE "CompanyName", "Jarcho"
      VALUE "FileDescription", "Frame rate unlocker for Diablo 2"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "d2fps.dll"
      VALUE "LegalCopyright", "Copyright (C) 2024"
      VALUE "OriginalFilename", "d2fps.dll"
      VALUE "ProductName", "d2fps"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x400, 1200
  END
END
